.heading {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 20vh;
    background-color: orange;
    color:black;
    font-size: 40px;
    font-weight: bold;
}
.box{
                
    margin: 3%;
    text-align:center;
    height:100%;
    width:100%;
    background-color: white;
    border-style: solid;
    border-color:black;
    border-radius:25px;
}
.box-text{ 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    padding-top:10%;
    padding-bottom:10%;
    font-size: 30px;
    color:black;
    margin: auto;
}

header {
    font-size:10px;
}

#leftbox {
    float:left; 
    width:33%;
    height:800px;
}
#middlebox{
    float:left; 
    width:34%;
    height:800px;
}
#rightbox{
    float:right;
    width:33%;
    height:800px;
}
h1{
    color:green;
    text-align:center;
}
h1.hide {
    visibility: hidden;
    display: none;
}
.hide{
    text-decoration: none;
}
.box_text{ 
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top:20%;
    font-size: 30px;
    color:black;
    margin-right: auto;
    margin-left:auto;
    height: 50%;
    text-decoration: none;
}
.box{
    margin-top:25%;
    margin-left: auto;
    margin-right:auto;
    height:27%;
    width:55%;
    background-color: white;
    border-style: solid;
    border-color:black;
    border-radius:25px;
}
.box-subsection{
    margin-left: auto;
    margin-right: auto;
    height:50px;
    width:55%;
    background-color: white;
    border-style: solid;
    border-color:black;
    border-radius:10px;
}
.subsection-text{
    padding-left: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}
.subsection-icon{
    top:0;
    bottom:10px;
    float:right;
    width: 40px;
    height: 40px;
}

#related-materials {
    
    margin: 3%;
    text-align:center;
    height:100%;
    width:100%;
    background-color: white;
    border-style: solid;
    border-color:black;
    border-radius:25px;
}