#body-background {
  background-color: rgb(255, 216, 144);
}

#banner {
  height: 100px;
  background-color: orange;
}

#banner-text {
  padding-top:1%;
  font-size:50px;
  left:10;
  background-clip:text;
  text-align: center;
  color:black;
  font-weight: bold;
}

#home_styler {
  position: absolute;
  top: 5%;
  left: 85%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex; 
  border-radius: 5px;
  height: 30px;
  width: 100px;
  padding: 0 1% 0 1%;
  float: right;
  line-height: 30px;
  color: black;
  font-size: 20px;
  text-align: center;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #f5f2ed, #f5f2ed);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .2rem #f5f2ed, -.125rem -.125rem .5rem #f5f2ed, .155rem .125rem .5rem #f5f2ed;
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .2rem #f5f2ed, -.125rem -.125rem .5rem #f5f2ed, .125rem .125rem .5rem #f5f2ed;
}