div#button{
    
    background-color: rgb(255, 255, 255);
    height:200px;
    width:550px;
    margin: 190px;
    border: 5px solid rgb(0, 0, 0);
    float: left;
}
div#button2{
    background-color: rgb(255, 255, 255);
    height:150px;
    width:300px;
    margin: 30px;
    border: 5px solid rgb(0, 0, 0);
}
div#button3{
    
    background-color: rgb(255, 255, 255);
    height:200px;
    width:750px;
    margin: 575px;
    border: 5px solid rgb(0, 0, 0);
}